html, body{
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body{
  font-family: "Amazon Ember", 'Open Sans',Arial,sans-serif;
  background-color: rgb(235, 235, 235);
  color: #0F1111;
  font-size: 14px;
}

a{
  text-decoration: none;
  font-weight: 500;
  color: #007185;
  cursor: pointer;
  font-size: 13px;
}

a:hover{
  color: #C7511F;
  text-decoration: underline;
}