.home_section{
    width: 100%;
    position: relative;
    height: fit-content;
}

.carasousel{
    height: 370px;
    position: relative;
}

.carasousel img{
    width: -webkit-fill-available !important;
}
  
.carasousel::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    top: 228px;
    z-index: 1000;
    height: 40%; /* Adjust this value for the height of the white overlay */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(235, 235, 235));
    pointer-events: none;
  }

@media (max-width : 600px) {
    .carasousel{
        height: 500px;
    }
    .carasousel::before {
        height: 20%;
        top: 116px;
    }
    .carasousel img{
        width: 500px !important;
    }
    .carasousel button{
        margin-top: -380px !important; 
        height: 90px !important;
        width: 40px !important; 
    }
    .space{
        height: 110px !important;
    }
    .products_section{
        top: 5% !important;
    }
}

.products_section{
    position: absolute;
    z-index: 1000;
    top: 12%;
    width: 100%;
}

.products_list{
    width: 94%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.space{
    height: 270px;
}